<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CCproject</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description>Controller</description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>com.login.action.MemberController</servlet-class>
  </servlet>
  <servlet>
    <description>Controller</description>
    <display-name>BoardController</display-name>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>com.board.action.BoardController</servlet-class>
  </servlet>
  <servlet>
    <description>Controller</description>
    <display-name>CommentController</display-name>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>com.board.comment.action.CommentController</servlet-class>
  </servlet>
  <servlet>
    <description>Controller</description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.register.controller.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>*.co</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>*.ro</url-pattern>
  </servlet-mapping>
</web-app>